#discordinv{
    border-color: rgb(2, 2, 173);
    background-color: blue;
    box-shadow: 0px 0px 70px blue;
}
#mainpage{
    border-color: 	rgb(0,100,0);
    background-color: green;
    box-shadow: 0px 0px 70px green;
}
